# Base environment variables
[ -f $base_env_file ] && source $base_env_file

export COMPOSE_FILE="$compose_file"
export COMPOSE_PROJECT_NAME="pay"

export BRAINTREE_MERCHANT_ID="$merchant_id"
export BRAINTREE_PUBLIC_KEY="$public_key"
export BRAINTREE_PRIVATE_KEY="$private_key"

export BRAINTREE_PUBLIC_KEY_MOFO=""
export BRAINTREE_PRIVATE_KEY_MOFO=""
